/* 
    Document   : DateFieldWindowsPatch
    Created on : Dec 21, 2011, 12:13:36 AM
    Author     : lprimak
    Description:
        Purpose of the stylesheet follows.
*/

DIV.datePicker td .topLabel {
    color: windowtext;
}
