/* Based on a solution by Howard Lewis Ship at http://tapestryjava.blogspot.co.uk/2011/12/adding-ajax-throbbers-to-zone-updates.html .*/

@-webkit-keyframes fade-in {
  from {
     opacity: 0;
  }
  to {
    opacity: .35
  }
}

@-moz-keyframes fade-in {
  from {
     opacity: 0;
  }
  to {
    opacity: .35
  }
}

DIV.zone-loading-overlay {
    position: absolute;
    background-color: #eee;
    opacity: 0;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 250ms;
    -webkit-animation-delay: 50ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fade-in;
    -moz-animation-duration: 250ms;
    -moz-animation-delay: 50ms;
    -moz-animation-fill-mode: forwards;
    background-image: url(spinner-zone-loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
}
