<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <distributable/>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/WEB-INF/errorpages/invalidErrorPage.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorpages/invalidErrorPage.xhtml</location>
    </error-page>
    <context-param>
        <param-name>org.omnifaces.EXCEPTION_TYPES_TO_IGNORE_IN_LOGGING</param-name>
        <param-value>jakarta.faces.application.ViewExpiredException, java.nio.channels.ClosedByInterruptException,
            java.sql.SQLException</param-value>
    </context-param>
    <context-param>
        <!-- 1 year cache, effects production mode only -->
        <param-name>com.sun.faces.defaultResourceMaxAge</param-name>
        <param-value>31536000000</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.VERSIONED_RESOURCE_HANDLER_VERSION</param-name>
        <param-value>#{environmentInfo.version}</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
        <param-value>/*.xhtml</param-value>
    </context-param>
</web-app>
